body{
    margin: 0px;
    padding: 0px;
}



* {
    font-family: 'Manrope', sans-serif;
}

/*******************navbar-gui******************/
nav{

    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar-collapse{
    width: 100%;
    justify-content: center;

}
.navbar-nav{
    width: 50%;
    justify-content: space-around;
}



.navbar-gui{
    background-color: #e0a984;
}

.navbar-brand {font-size: 20px !important;}
.navbar-brand img{
    height: 70px;
    width: auto;
}

/*******************navbar-info******************/

.navbar-info {
    
    height: 36px;
    align-items: center;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar-info img {
    height: 16px;
    width: auto;
}

.navbar {

}

.navbar-section {
    display: flex;
    justify-content: space-evenly;
}
.navbar-section h5 {
    font-size: 20px;
}
.s-extends {
    width: 250px;
}
.s-center{
    width: 40vw;
}
/*******************navbar-info******************/


/*************************CONTENT**************/

content {
    display: flex-column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.last {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    min-height: 530px;
    background-color: black;
    margin-top: 40px;
    align-items: center;
}

.card {
    width: 20rem;
    height: 31rem;
}

#last-event-text{
    position: relative;

}
#last-event-text a{
    position: relative;
    text-decoration: none !important;
    font-size: 42px !important;
    color: white !important;
    /*right: 60vw;*/
}
#last-event-text p{
    position: relative;
    color: white;
    font-size: 24px;

    /*right: 60vw;*/
}






.season {
    width: 100%;
    height: 700px;
    background-color: #e0a984;
    margin-top: 40px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}


#carouselSection {
    width: min-content; 
}

.carousel-item {
        border: 12px solid white;
}

.season div {

}

#text-season {
    /*right: 85vh;*/
    position: relative;
    font-size: 82px;
}


/*************************travels*********************/

.choice {
    margin-top: 40px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

#choiceText {
    height: 120px;
}
#choiceText h2 {
    font-size: 100px;
}


.choice-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 80px;
    grid-column-gap: 140px;
    padding-top: 10vh;
}

.ch {
    width: 25rem;
    height: 30rem;
}


.card {
    border: 1px solid red;
    border-radius: 0px !important;
}