<!DOCTYPE html>
<html>
<head>
	<title>register</title>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<style type="text/css">

* {font-family: 'Manrope', sans-serif; font-size: 26px;}


form {
    display: inline-block;
    width: 15rem;
    height: 22rem;
   	background-color: #e0a984;
}
form label {

}

form input {
	height: 26px;
}

form div {
	height: 3.2rem;
    width: 14rem;
    padding-left: 30px;
}


</style>

	<form>
		<div style="background-color: black; color: white; padding-top: 1px;">
			<h1>tour.com</h1>
		</div>
			<div>
				<label for="first_name">Имя</label>
				<input type="text" name="first_name" placeholder="">
			</div>	
			<div>
				<label for="last_name">Фамилия</label>
				<input type="text" name="last_name" placeholder="">
			</div>
			<div>
				<label for="username">Имя пользователя</label>
				<input type="text" name="username" placeholder="">
			</div>
			<div>	

				<label for="password">Пароль</label>
				<input type="text" name="password" placeholder="">
			</div>
				
			<div>
				<label for="email">Почта</label>
				<input type="text" name="email" placeholder="">
			</div>
			<div>
				<input style="height: min-content" type="submit" name="">
			</div>

	</form>



</body>
</html>
